<h1>
  {{ starship.name }}
</h1>
<p> Class: {{ starship.starship_class }}, Model: {{ starship.model}}, Manufacturer: {{ starship.manufacturer }}</p>
<div class="row--three-boxes">
  <div class="box">
    <h3>Basic Info</h3>
    <ul>
      <li>Cost in credits: {{ starship.cost_in_credits }}</li>
      <li>length: {{ starship.length }}</li>
      <li>Max Atmosphering Speed: {{ starship.max_atmosphering_speed }}</li>
      <li>Crew: {{ starship.crew }}</li>
      <li>Passengers: {{ starship.passengers }}</li>
      <li>Cargo Capacity: {{ starship.cargo_capacity }}</li>
      <li>Consumables: {{ starship.consumables }}</li>
    </ul>
  </div>
  <div class="box">
    <h3>Starship Info</h3>
    <ul>
      <li>Hyperdrive Rating: {{ starship.hyperdrive_rating }}</li>
      <li>MGLT: {{ starship.MGLT }}</li>
    </ul>
    <h3>Films</h3>
    <ul>
      <li *ngFor="let film of starship.films" (click)="gotoURL(film)">
        {{ film }}
      </li>
    </ul>
  </div>
  <div class="box">
    <h3>Pilots</h3>
    <ul>
      <li *ngFor="let pilot of starship.pilots" (click)="gotoURL(pilot)">
        {{ pilot }}
      </li>
    </ul>
  </div>
</div>
