<h1>
  Starships
</h1>
<nav>
  <a *ngIf="previous" (click)="getPage(previous)">previous</a>
  <a *ngIf="next" (click)="getPage(next)">next</a>
</nav>
<ul>
  <li *ngFor="let starship of starships" (click)="gotoVehicle(starship)">{{ starship.name }}</li>
</ul>
