<h1>
  Vehicles
</h1>
<nav>
  <a *ngIf="previous" (click)="getPage(previous)">previous</a>
  <a *ngIf="next" (click)="getPage(next)">next</a>
</nav>
<ul>
  <li *ngFor="let vehicle of vehicles" (click)="gotoVehicle(vehicle)">{{ vehicle.name }}</li>
</ul>
