<h1>
  People
</h1>
<nav>
  <a *ngIf="previous" (click)="getPage(previous)">previous</a>
  <a *ngIf="next" (click)="getPage(next)">next</a>
</nav>
<ul>
  <li *ngFor="let person of people" (click)="gotoPerson(person)">{{ person.name }}</li>
</ul>
