<h1>
  {{ person.name }}
</h1>
<p> Home world: {{ person.homeworld }}, Born: {{ person.birth_year }}</p>
<div class="row--three-boxes">
  <div class="box">
    <h3>Basic Info</h3>
    <ul>
      <li>Height: {{ person.height }}</li>
      <li>Mass: {{ person.mass }}</li>
      <li>Gender: {{ person.gender }}</li>
      <li>Hair Color: {{ person.hair_color }}</li>
      <li>Skin Color: {{ person.skin_color }}</li>
      <li>Eye Color: {{ person.eye_color }}</li>
      <li>Species: {{ person.species }}</li>
    </ul>
  </div>
  <div class="box">
    <h3>Films</h3>
    <ul>
      <li *ngFor="let film of person.films" (click)="gotoURL(film)">
        {{ film }}
      </li>
    </ul>
  </div>
  <div class="box">
    <h3>Vehicles</h3>
    <ul>
      <li *ngFor="let vehicle of person.vehicles" (click)="gotoURL(vehicle)">
        {{ vehicle }}
      </li>
    </ul>
    <h3>Starships</h3>
    <ul>
      <li *ngFor="let starship of person.starships" (click)="gotoURL(starship)">
        {{ starship }}
      </li>
    </ul>
  </div>
</div>
