<h1>
  SWapi
</h1>
<nav>
  <a routerLink="">Home</a>
  <a routerLink="/people">People</a>
  <a routerLink="/vehicles">Vehicles</a>
  <a routerLink="/starships">Starships</a>
</nav>
<router-outlet></router-outlet>
