<h1>
  {{ vehicle.name }}
</h1>
<p> Class: {{ vehicle.class }}, Model: {{ vehicle.model}}, Manufacturer: {{ vehicle.manufacturer }}</p>
<div class="row--three-boxes">
  <div class="box">
    <h3>Basic Info</h3>
    <ul>
      <li>Cost in credits: {{ vehicle.cost_in_credits }}</li>
      <li>length: {{ vehicle.length }}</li>
      <li>Max Atmosphering Speed: {{ vehicle.max_atmosphering_speed }}</li>
      <li>Crew: {{ vehicle.crew }}</li>
      <li>Passengers: {{ vehicle.passengers }}</li>
      <li>Cargo Capacity: {{ vehicle.cargo_capacity }}</li>
      <li>Consumables: {{ vehicle.consumables }}</li>
    </ul>
  </div>
  <div class="box">
    <h3>Films</h3>
    <ul>
      <li *ngFor="let film of vehicle.films" (click)="gotoURL(film)">
        {{ film }}
      </li>
    </ul>
  </div>
  <div class="box">
    <h3>Pilots</h3>
    <ul>
      <li *ngFor="let pilot of vehicle.pilots" (click)="gotoURL(pilot)">
        {{ pilot }}
      </li>
    </ul>
  </div>
</div>
